create a file and name it ".env"


the following are the file content structure

EMAIL_USER = //the email of the support team
EMAIL_PASS = //the app password key of the above email
EMAIL_HOST = // the host (smtp.gmail.com  or your prefered host)
EMAIL_PORT= // the email port 
ADMIN_ADDRESS= the admin email address for dashboard support



DB=  your database name
DB_HOST = the database host
DB_USER= the db user name
DB_PASSWORD= the db password
DB_PORT= the db port


MAILCHIMP_API_KEY= Madam Mailchimp api key
MAILCHIMP_SERVER= Madam Mailchimp server
MAILCHIMP_LIST_ID= Madam Mailchimp list id